<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div class="container-fluid">
    <div id="topnav"class="navbar hidden-xs"style="text-align:left">
      <div class="pull-left">
        <a class="navbar-brand" href="/"><img class="logo" src="./assets/img/logo@2x.png" alt="Logo"></a>
      </div>
    </div>
  </div>
  <div class="nav container-fluid">
    <div id="secondnav"class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Get Coverage <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Keep or Update Your Plan<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              See Topics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <div class="main-nav-search">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-default btn-lg my-2 my-sm-0" type="button" aria-label="Left Align"><span class="glyphicon glyphicon-search" aria-hidden="false"></span></button>
          </form>
        </div>

      </div>
    </div>
  </div>


  <h3 class="" style="text-align:left">{{subtitle}}</h3>
</div>
