#topnav {
  border: none;
  height: 62px;
  margin: auto;
  position: relative;
  border-radius: 4px;
  min-height: 50px;
  box-sizing: border-box;
  display: block;
}
#secondnav {
  background-color: #046791;
  color: white;
}
