<div class="container-fluid">
  <div class="container row" id="heroJumbo">
    <h2 class="display-4" style="text-align:left">{{subtitle}}</h2>
    <br>
    <p>If you live in Washington, you'll use the Washington Healthplanfinder website to enroll in health coverage.</p>
    <br>
    <div class="">
      <button class="btn-success"type="button" name="button">VISIT YOUR STATE MARKETPLACE</button>
    </div>
    <p>Looking for insurance in a different state? <span><a href="https://www.healthcare.gov/get-coverage/">Start here</a></span></p>
    <hr>
    <p>Looking for coverage for a small business? <span><a href="https://www.healthcare.gov/small-businesses/">Learn more</a></span></p>
  </div>
  <div id="primaryLinks" class="container-fluid">
    <div class="row w-100">
      <div class="col-md-3">
        <div class="">
          <a class="btn" href="https://localhelp.healthcare.gov/"><span class="glyphicon glyphicon-road"><h2>Find Local Help</h2></span>SEARCH NOW</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <a class="btn" href="https://localhelp.healthcare.gov/#/exit/"><span class="glyphicon glyphicon-user"><h2>Get Contacted</h2></span>HELP FROM AGENT/BROKER
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <a class="btn" href="https://www.healthcare.gov/taxes/">
            <span class="glyphicon glyphicon-briefcase"><h2>1095/Tax Info</h2></span>SEE Now
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <a class="btn btn-sm" href="https://www.healthcare.gov/reporting-changes/"><span class="glyphicon glyphicon-briefcase"><h2>Income/Life Change?</h2></span>SEE HOW TO REPORT
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="emailSignUpForm" class="w-75 col-md-7">
      <div class="input-group mb-3">
        <label for=""><h3>GET IMPORTANT NEWS AND UPDATES</h3></label>
        <label for=""><p>Sign up for email and text updates to get deadline reminders and other important information.</p></label>
        <input type="text" class="w-75 form-control" placeholder="" aria-label="Sign Up Form" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="button" class="btn">SIGN UP</button>
        </div>
      </div>
      <small><a href="https://www.healthcare.gov/privacy">Privacy Policy</a></small>
    </div>
    <div id="blogList" class="col-md-5">
      <h2 class=""><a class="links"  href="https://www.healthcare.gov/blog">HEALTHCARE.GOV BLOG</a></h2>
      <a class="links" href="https://www.healthcare.gov/blog/special-enrollment-period-child-birth/"><p>June 07</p><p>Having a baby? You can enroll in or change your health coverage</p></a>
      <a class="links" href="https://www.healthcare.gov/blog/three-ways-stay-healthy-this-summer/"><p>May 31</p><p>3 Ways to stay healthy this summer</p></a>
      <a href="https://www.healthcare.gov/blog"><h2>SEE MORE</h2></a>
    </div>
  </div>

</div>
