#hero{
  background-image: url(https://www.healthcare.gov/images/hero/postoe-homepage-hero.jpg);
  color: #fff;
  text-align: center;
  float: left;
}
#primaryLinks {
  background-color: #17415f;
  color: #fff;
  text-align: center;
  display: table;
  width: 100%;
}
.glyphicon {
  color: #fff;
}
#emailSignUpForm {
  background-color: #0d76ad;
  color: #fff;
}
#blogList {
  background-color: #04689b;
  color: #fff;
}
.links {
  color: #fff;
}
.btn {
  background-color: #063346;
  color: #fff;
  float: right;
}
a {
  color: #fff;
}
.underline {
  text-decoration: underline;
}
.contactLinks {
  color: #666;
}
.facebook {
  max-width: 36px;
  max-height: 36px;
  /*display: block;*/
}
.twitter {
  max-width: 36px;
  max-height: 36px;
  /*display: block;*/
}
.youtube {
  width: 36px;
  height: 36px;
  /*display: block;*/
}
.google {
  width: 36px;
  height: 36px;
  /*display: block;*/
}
.social-media-icons a {
  /*float: left;*/
}
ul {
  list-style-type: none;
}
.resource-links a{
  color: #666;
}
.languages-list a{
  color: #666;
  float: right;
}
.btn-bottom {
  float: right;
}
.eagle {
  background: image(./assets/img/google.png);
}
