<div class="container-fluid">
  <app-header></app-header>
  <div class="container row" id="hero">
    <h2 class="display-4">{{subtitle}}</h2>
    <p>If you live in Washington, you'll use the Washington Healthplanfinder website to enroll in health coverage.</p>
    <div class="">
      <button class="btn-success"type="button" name="button">VISIT YOUR STATE MARKETPLACE</button>
    </div>
    <p>Looking for insurance in a different state? <span><a href="https://www.healthcare.gov/get-coverage/" class="underline">Start here</a></span></p>
    <hr>
    <p>Looking for coverage for a small business? <span><a href="https://www.healthcare.gov/small-businesses/" class="underline">Learn more</a></span></p>
  </div>
  <div id="primaryLinks">
    <div class="row w-100">
      <div class="col-md-3">
        <div class="">
          <a class="btn" href="https://localhelp.healthcare.gov/"><span class="glyphicon glyphicon-road"><h2>Find Local Help</h2></span>
            SEARCH NOW
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <a class="btn" href="https://localhelp.healthcare.gov/#/exit/"><span class="glyphicon glyphicon-user"><h2>Get Contacted</h2></span>
            HELP FROM AGENT/BROKER
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <a class="btn" href="https://www.healthcare.gov/taxes/">
            <span class="glyphicon glyphicon-briefcase"><h2>1095/Tax Info</h2></span>
            SEE NOW
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <a class="btn btn-sm" href="https://www.healthcare.gov/reporting-changes/"><span class="glyphicon glyphicon-briefcase"><h2>Income/Life Change?</h2></span>
            SEE HOW TO REPORT
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="emailSignUpForm" class="w-75 col-md-7">
      <div class="input-group mb-3">
        <label for=""><h3>GET IMPORTANT NEWS AND UPDATES</h3></label>
        <label for=""><p>Sign up for email and text updates to get deadline reminders and other important information.</p></label>
        <input type="text" class="w-75 form-control" placeholder="" aria-label="Sign Up Form" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button type="button" class="btn">SIGN UP</button>
        </div>
      </div>
      <small><a href="https://www.healthcare.gov/privacy">Privacy Policy</a></small>
    </div>
    <div id="blogList" class="col-md-5">
      <h2 class=""><a class="links"  href="https://www.healthcare.gov/blog"><span class="glyphicon glyphicon-quote"></span>HEALTHCARE.GOV BLOG</a></h2>
      <a class="links" href="https://www.healthcare.gov/blog/special-enrollment-period-child-birth/"><p class="underline">June 07</p><p>Having a baby? You can enroll in or change your health coverage</p></a>
      <a class="links" href="https://www.healthcare.gov/blog/three-ways-stay-healthy-this-summer/"><p class="underline">May 31</p><p>3 Ways to stay healthy this summer</p></a>
      <a href="https://www.healthcare.gov/blog"><h2>SEE MORE</h2></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 resource-links">
      <h3>RESOURCES</h3>
      <div class="row">
        <div class="col-md-6">
          <p><a href="http://www.hhs.gov/healthcare/">About the Affordable Care Act</a></p>
          <p><a href="http://www.cms.gov/cciio/index.html">Regulatory and Policy Information</a></p>
          <p><a href="http://marketplace.cms.gov/">For Navigators, Assisters and Partners</a></p>
          <p><a href="https://www.cms.gov/cciio/programs-and-initiatives/health-insurance-marketplaces/a-b-resources.html">For Agents and Brokers</a></p>
        </div>
        <div class="col-md-6">
          <p><a href="http://www.cms.gov/Newsroom/Newsroom-Center.html">For the Media</a></p>
          <p><a href="https://www.healthcare.gov/health-and-dental-plan-datasets-for-researchers-and-issuers/">For Researchers</a></p>
          <p><a href="http://www.cms.gov/CCIIO/Programs-and-Initiatives/Health-Insurance-Marketplaces/State-Marketplace-Resources.html">For States</a></p>
          <p><a href="https://www.healthcare.gov/language-resource/">Information in other languages</a></p>
        </div>
      </div>

    </div>

    <hr>
    <div class="col-md-4 ">
      <h2>CONNECT WITH US</h2>
      <p><span class="glyphicon glyphicon-phone"></span><a class="contactLinks" href="https://www.healthcare.gov/contact-us">Questions? Call 1-800-318-2596</a></p>
      <p><span class="glyphicon glyphicon-road"></span><a class="contactLinks" href="https://localhelp.healthcare.gov/">Find Local Help</a></p>
      <p><span class="glyphicon glyphicon-quote"></span><a class="contactLinks" href="https://www.healthcare.gov/blog">Visit the HealthCare.gov blog</a></p>
      <ul>
        <li class="social-media-icons">
          <a href="https://facebook.com/healthcare.gov" class="icon facebook"><img src="./assets/img/facebook.png" alt=""></a>
          <a href="https://twitter.com/HealthCareGov" class="icon twitter"><img src="./assets/img/twitter.png" alt=""></a>
          <a href="https://www.youtube.com/HealthCareGov" class="icon youtube"><img src="./assets/img/youtube.png" alt=""></a>
          <a href="https://plus.google.com/+healthcaregov" class="icon google"><img src="./assets/img/google.png" alt=""></a>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <hr>
  <div class="row resource-links">
    <div class="col-md-3">
      <ul>
        <li><a href="https://www.healthcare.gov/topics">ALL TOPICS</a> |
        <a href="https://www.healthcare.gov/glossary">GLOSSARY</a> |
        <a href="https://www.healthcare.gov/contact-us">CONTACT US</a> |
        <a href="https://www.healthcare.gov/archive">ARCHIVE</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <ul>
        <li><a href="http://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/CMSNondiscriminationNotice.html">NONDISCRIMINATION</a> |
        <a href="https://www.healthcare.gov/privacy">PRIVACY POLICY</a> |
        <a href="https://www.healthcare.gov/#">PRIVACY SETTINGS</a> |
        <a href="https://www.healthcare.gov/privacy/#links">LINKING POLICY</a> |
        <a href="https://www.healthcare.gov/using-this-site">USING THIS SITE</a> |
        <a href="http://www.hhs.gov/open/plain-writing/index.html">PLAIN WRITING</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row languages-list">
    <div class="col-md-8">
      <ul>
        <li>
        <a href="https://www.healthcare.gov/language-resource/#chinese">  中文 | </a>
        <a href="https://www.healthcare.gov/language-resource/#creole">  KREYÒL | </a>
        <a href="https://www.healthcare.gov/language-resource/#french">  FRANÇAIS | </a>
        <a href="https://www.healthcare.gov/language-resource/#german">  DEUTSCH | </a>
        <a href="https://www.healthcare.gov/language-resource/#gujarati">  ગુજરાતી | </a>
        <a href="https://www.healthcare.gov/language-resource/#hindi">  हिंदी | </a>
        <a href="https://www.healthcare.gov/language-resource/#italian">  ITALIANO | </a>
        <a href="https://www.healthcare.gov/language-resource/#japanese"> 日本語 | </a>
        <a href="https://www.healthcare.gov/language-resource/#korean"> 한국어 | </a>
        <a href="https://www.healthcare.gov/language-resource/#polish"> POLSKI | </a>
        <a href="https://www.healthcare.gov/language-resource/#portuguese"> PORTUGUÊS | </a>
        <a href="https://www.healthcare.gov/language-resource/#russian"> РУССКИЙ | </a>
        <a href="https://www.healthcare.gov/language-resource/#spanish"> ESPAÑOL | </a>
        <a href="https://www.healthcare.gov/language-resource/#vietnamese"> TIẾNG VIỆT | </a>
        <a href="https://www.healthcare.gov/language-resource/#tagalog"> TAGALOG | </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer row">
    <div class="col-md-6">
      <a class="icon eagle"><img class="h-50"src="./assets/img/eagle.png" alt="HHS.gov"><small>A federal government website managed and paid for by the U.S. Centers for Medicare and Medicaid Services. 7500 Security Boulevard, Baltimore, MD 21244</small></a>

    </div>
    <div class="col-md-6">
      <span></span>
    </div>
    <a class="btn btn-info" href="https://www.healthcare.gov/#">Back to top</a>
  </div>
</div>
