<div class="container-fluid">
  <div class="container row" id="heroJumbo">
    <h2 class="display-4" style="text-align:left">{{subtitle}}</h2>
    <br>
    <p>If you live in Washington, you'll use the Washington Healthplanfinder website to enroll in health coverage.</p>
    <br>
    <div class="">
      <button class="btn-success"type="button" name="button">VISIT YOUR STATE MARKETPLACE</button>
    </div>
    <p>Looking for insurance in a different state? <span><a href="https://www.healthcare.gov/get-coverage/">Start here</a></span></p>
    <p>Looking for coverage for a small business? <span><a href="https://www.healthcare.gov/small-businesses/">Learn more</a></span></p>
  </div>
  <div id="primaryLinks" class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="">
          <span class="glyphicon glyphicon-road">Find Local Help</span>
          <a class="btn" href="https://localhelp.healthcare.gov/">Search Now</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <span class="glyphicon glyphicon-user">Get Contacted</span>
          <a class="btn" href="https://localhelp.healthcare.gov/#/exit/">Help From Agent/Broker</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <span class="glyphicon glyphicon-road">1095 & Tax Info</span>
          <a class="btn" href="https://www.healthcare.gov/taxes/">See Now</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <span>Income/Life Change?</span>
          <a class="btn" href="https://www.healthcare.gov/reporting-changes/">See How To Report</a>
        </div>
      </div>
    </div>

  </div>

</div>
